@font-face {
    font-family: 'Linotype Bengali';
    src: url('../fonts/LinotypeBengali-Black.woff2') format('woff2'),
        url('../fonts/LinotypeBengali-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linotype Bengali';
    src: url('../fonts/LinotypeBengali-Bold.woff2') format('woff2'),
        url('../fonts/LinotypeBengali-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linotype Bengali';
    src: url('../fonts/LinotypeBengali-Regular.woff2') format('woff2'),
        url('../fonts/LinotypeBengali-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linotype Bengali';
    src: url('../fonts/LinotypeBengali-Medium.woff2') format('woff2'),
        url('../fonts/LinotypeBengali-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Linotype Bengali';
    src: url('../fonts/LinotypeBengali-Black.woff2') format('woff2'),
        url('../fonts/LinotypeBengali-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

