/* common */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');


/* this is a variable  */
:root{
    --bg-color: #b5d5ee;
    --main-color : #166fc8;
    /* --bangla-font : 'Tiro Bangla', serif; */
    --bangla-font : 'Linotype Bengali';
    --english-font :  'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.container-section{
    display: none;
}
.container{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.front-back-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.front-form, .back-form{
    width: 400px;
    height: 630px;
    background-color: #ffffff;
    border-radius: 8px;
}
.front-title, .back-title{
    color: var(--main-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.front-side, .back-side{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.front-form input, .back-form input{
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.input-image{
    display: flex;
    justify-content: space-between;
    margin: -6px;
    padding: 0;
    /* width: 100%; */
}
.input-image input{
    width: 100%;
    
}
.input-image span{
    padding: 5px;
    margin-top: 20px;
}

.add-image{
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
input[type="file"]{
    display: none;
}


/* this is a back side style  */
#address{
    resize: none;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
    margin-top: 10px;
    padding: 12px;
}
#optional-check{
    display: flex;
    align-items: center;
}
.optional{
    font-size: 13px;
    margin-left: 10px;
}
hr {
    border-top: 2px solid #c1c1c1;
    transform: rotate(180deg);
    width: 100%;
  }
  #create{
    margin: 30px 20px;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
  }

  /* this is a nid card section  */
  .nid-container{
    margin: 50px;
  }

  .nid-front{
    width: 317.53px;
    height: 198.02px;
    /* background-color: #166fc8; */
    border: 1px solid #000;
    background-image: url("../images/flowers.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 61% 77%;
  }
  .nid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    border-bottom: 1px solid #000000;;
  }
  .map img{
    width: 30px;
  }

.bd-gov{
    font-family: var(--bangla-font);
    font-weight: 700;
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 0;
}
.header-text{
    text-align: center;
    margin: 0;
    padding: 0;
}
.header-text p{
    font-family: var(--english-font);
    font-size: 12px;
    margin: 2px 0px;
}
.republic{
    color: #0AA047;
}
.nation-id{
    color: red;
}
.nation-id-bangla{
    font-family: var(--bangla-font);
}
.nid-body{
    margin: 5px;
    display: flex;
}
.images{
    display: flex;
    flex-direction: column;
}

#profile-photo{
    width: 72px;
}
#signature-photo{
    width: 40px;
    margin: 0 auto;
}

.nid-information{
    margin-left: 8px;
}
.nid-information p{
    margin: 0 8px 5px;
    font-size: 12px;
    font-family: var(--english-font);
}
#name-text{
    font-size: 17px;
}
#bangla-name{
    font-size: 18px;
    margin-left: 17px;
    font-family: 'Linotype Bengali';
    font-weight: 600;
}
#english-name{
    font-size: 12px;
    margin-left: 14px;
    font-weight: 500;
}
#own-name{
    font-size: 9px;
}
.bangla-mane-text{
    font-family: var(--bangla-font);
}
#father-name{
    margin-left: 20px;
}
#mother-name{
    margin-left: 21px;
}
#id-no, #date-of-birth{
    color: red;
}
#id-no{
    font-weight: 600;
    margin-left: 6px;
}
